@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a{
  text-decoration: none;
}

main > div{
  padding: 4rem 0;
  border-bottom: 2px solid gold;
}

h1{
  color: gold;
  font-size: 2rem;
  padding-bottom: 2rem;
}

h2{
  color: rgb(58, 133, 219);
  font-size: 1,5rem;
}

p{
  text-align: justify;
  color: antiquewhite;
}

form div{
  padding: 10px 0;
}

.name{
  display: flex;
  column-gap: 20px;
}

label{
  color: antiquewhite;
  display: block;
  padding-bottom: 5px;
}

input,
textarea{
  padding: 10px;
  background-color: gray;
  font-weight: 600;
  border: 1px solid gold;
}

#first-name,
#last-name{
  width: 240px;
}

#object{
  width: 500px;
}

textarea{
  width: 500px;
  height: 200px;
  overflow-y: scroll;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 20px;
}

textarea::-webkit-scrollbar-track {
  background: #181818;
  border-left: solid 1px gold;
}

textarea::-webkit-scrollbar-thumb{
  background: black;
  border: 1px solid;
  border-color: gold transparent gold gold;
}